<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DbPath" value="%APPDATA%\\Seismoscope\\Seismoscope.db" />
 		<add key="AdminUserName" value="janedoe" />
		<add key="AdminPassword" value="password123" />
		<add key="EmployeUserName" value="johndoe" />
		<add key="EmployePassword" value="password123" />
	</appSettings>
</configuration>

